#!/usr/bin/make -f

%:
	dh $@

# dh_installsystemduser isn't part of the default dh sequence until debhelper
# 14, so invoke it explicitly here for the user .path/.service units.
override_dh_installsystemd:
	dh_installsystemd
	dh_installsystemduser
